body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Button2
{
   box-sizing: border-box;
   line-height: 22px;
   text-decoration: none;
   vertical-align: top;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 27px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:hover
{
   background-color: #F5DEB3;
   -webkit-transition: background-color 5ms linear 0ms;
   transition: background-color 5ms linear 0ms;
}
#Button1
{
   box-sizing: border-box;
   line-height: 22px;
   text-decoration: none;
   vertical-align: top;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 27px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:hover
{
   background-color: #F5DEB3;
   -webkit-transition: background-color 5ms ease-in-out 0ms;
   transition: background-color 5ms ease-in-out 0ms;
}
#Button3
{
   box-sizing: border-box;
   line-height: 22px;
   text-decoration: none;
   vertical-align: top;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 27px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3:hover
{
   background-color: #F5DEB3;
   -webkit-transition: background-color 5ms linear 0ms;
   transition: background-color 5ms linear 0ms;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont1
{
   height: 63px;
   width: 103px;
}
#IconFont1 i
{
   color: #C71585;
   display: inline-block;
   font-size: 63px;
   line-height: 63px;
   vertical-align: middle;
   width: 62px;
}
#IconFont1:hover i
{
   color: #337AB7;
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont2
{
   height: 62px;
   width: 78px;
}
#IconFont2 i
{
   color: #32CD32;
   display: inline-block;
   font-size: 62px;
   line-height: 62px;
   vertical-align: middle;
   width: 61px;
}
#IconFont2:hover i
{
   color: #337AB7;
}
#wb_IconFont3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont3
{
   height: 58px;
   width: 78px;
}
#IconFont3 i
{
   color: #0000FF;
   display: inline-block;
   font-size: 58px;
   line-height: 58px;
   vertical-align: middle;
   width: 57px;
}
#IconFont3:hover i
{
   color: #337AB7;
}
#wb_IconFont4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont4
{
   height: 46px;
   width: 78px;
}
#IconFont4 i
{
   color: #B22222;
   display: inline-block;
   font-size: 46px;
   line-height: 46px;
   vertical-align: middle;
   width: 45px;
}
#IconFont4:hover i
{
   color: #337AB7;
}
#Button4
{
   box-sizing: border-box;
   line-height: 37px;
   text-decoration: none;
   vertical-align: top;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button5
{
   box-sizing: border-box;
   line-height: 37px;
   text-decoration: none;
   vertical-align: top;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button6
{
   box-sizing: border-box;
   line-height: 37px;
   text-decoration: none;
   vertical-align: top;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button7
{
   box-sizing: border-box;
   line-height: 37px;
   text-decoration: none;
   vertical-align: top;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 20px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
