body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Button2
{
   box-sizing: border-box;
   line-height: 22px;
   text-decoration: none;
   vertical-align: top;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 27px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:hover
{
   background-color: #F5DEB3;
   -webkit-transition: background-color 5ms linear 0ms;
   transition: background-color 5ms linear 0ms;
}
#Button1
{
   box-sizing: border-box;
   line-height: 22px;
   text-decoration: none;
   vertical-align: top;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 27px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:hover
{
   background-color: #F5DEB3;
   -webkit-transition: background-color 5ms linear 0ms;
   transition: background-color 5ms linear 0ms;
}
#Button3
{
   box-sizing: border-box;
   line-height: 22px;
   text-decoration: none;
   vertical-align: top;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 27px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button3:hover
{
   background-color: #F5DEB3;
   -webkit-transition: background-color 5ms linear 0ms;
   transition: background-color 5ms linear 0ms;
}
#Button4
{
   box-sizing: border-box;
   line-height: 37px;
   text-decoration: none;
   vertical-align: top;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 27px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button4:hover
{
   background-color: #F5DEB3;
   -webkit-transition: background-color 5ms linear 0ms;
   transition: background-color 5ms linear 0ms;
}
#Button5
{
   box-sizing: border-box;
   line-height: 37px;
   text-decoration: none;
   vertical-align: top;
   font-family: "Courier New";
   font-weight: normal;
   font-style: normal;
   font-size: 27px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button5:hover
{
   background-color: #F5DEB3;
   -webkit-transition: background-color 5ms linear 0ms;
   transition: background-color 5ms linear 0ms;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
